@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

section.bg {
  background: url('images/background.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  filter: blur(0px);
}

.loading-text {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px #000;
  font-size: 50px;
}
